body{
    font-family: 'Open Sans', sans-serif;
    line-height: 1.7;
    font-weight: 400;
    -webkit-font-smoothing: antialiased!important;
    // font-smoothing make font look good
    
}
